Третье исследование на собранном ранее наборе данных (он может быть дополнен или собран новый)

- произвести стандартизацию данных
- при необходимости преобразовать категориальные данные
- разделить набор данных на тренировочный и тестовый
- использовать на выбор любой метод машинного обучения из библиотеки Scikit-learn
- описать каждый шаг исследования дав пояснение и обоснование

In [115]:
import pandas as pd

gen_df=pd.read_csv('https://raw.githubusercontent.com/GVicSt/DataSets/genshin/genshin_impact_data.csv', sep='\t')[['name','rarity','element','level','friendship']]
gen_df

                name  rarity  element  level  friendship
0           Traveler       5    Anemo     80           0
1             Hu Tao       5     Pyro     70           5
2            Barbara       4    Hydro     50           4
3             Beidou       4  Electro     50           4
4             Noelle       4      Geo     50           4
5            Rosaria       4     Cryo     50           3
6              Razor       4  Electro     50           2
7          Xiangling       4     Pyro     50           2
8             Yanfei       4     Pyro     50           2
9             Xinyan       4     Pyro     50           1
10            Albedo       5      Geo     41           1
11           Yoimiya       5     Pyro     40           3
12             Diluc       5     Pyro     40           2
13             Amber       4     Pyro     40           2
14           Xingqiu       4    Hydro     40           2
15         Ningguang       4      Geo     40           2
16           Sucrose       4    Anemo     40           2
17              Sayu       4    Anemo     40           2
18             Kaeya       4     Cryo     40           1
19             Diona       4     Cryo     40           1
20        Kujou Sara       4  Electro     40           1
21  Shikanoin Heizou       4    Anemo     40           1
22              Dori       4  Electro     40           1
23              Aloy       5     Cryo     20           1
24              Lisa       4  Electro     20           1
25            Fischl       4  Electro     20           1
26           Bennett       4     Pyro     20           1
27             Thoma       4     Pyro     20           1
28           Yun Jin       4      Geo     20           1
29           Faruzan       4    Anemo     20           1
30            Collei       4   Dendro      1           1
31           Lynette       4    Anemo      1           1

In [47]:
# стандартизацию данные
# правде не знаю зачем... просто так в задании написано
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_gen_df = scaler.fit_transform(gen_df[['rarity','level','friendship']])
scaled_gen_df

array([[ 2.081666  ,  2.50960728, -1.56472995],
       [ 2.081666  ,  1.91341253,  2.82749446],
       [-0.48038446,  0.72102303,  1.94904958],
       [-0.48038446,  0.72102303,  1.94904958],
       [-0.48038446,  0.72102303,  1.94904958],
       [-0.48038446,  0.72102303,  1.0706047 ],
       [-0.48038446,  0.72102303,  0.19215982],
       [-0.48038446,  0.72102303,  0.19215982],
       [-0.48038446,  0.72102303,  0.19215982],
       [-0.48038446,  0.72102303, -0.68628506],
       [ 2.081666  ,  0.18444775, -0.68628506],
       [ 2.081666  ,  0.12482828,  1.0706047 ],
       [ 2.081666  ,  0.12482828,  0.19215982],
       [-0.48038446,  0.12482828,  0.19215982],
       [-0.48038446,  0.12482828,  0.19215982],
       [-0.48038446,  0.12482828,  0.19215982],
       [-0.48038446,  0.12482828,  0.19215982],
       [-0.48038446,  0.12482828,  0.19215982],
       [-0.48038446,  0.12482828, -0.68628506],
       [-0.48038446,  0.12482828, -0.68628506],
       [-0.48038446,  0.12482828, -0.68628506],
       [-0.48038446,  0.12482828, -0.68628506],
       [-0.48038446,  0.12482828, -0.68628506],
       [ 2.081666  , -1.06756123, -0.68628506],
       [-0.48038446, -1.06756123, -0.68628506],
       [-0.48038446, -1.06756123, -0.68628506],
       [-0.48038446, -1.06756123, -0.68628506],
       [-0.48038446, -1.06756123, -0.68628506],
       [-0.48038446, -1.06756123, -0.68628506],
       [-0.48038446, -1.06756123, -0.68628506],
       [-0.48038446, -2.20033125, -0.68628506],
       [-0.48038446, -2.20033125, -0.68628506]])

In [159]:
#целевой переменной будет уровень персонажа
other = gen_df[['rarity','friendship']]
main = pd.DataFrame(gen_df['level'])
print(other.head())
print(main.head())

   rarity  friendship
0       5           0
1       5           5
2       4           4
3       4           4
4       4           4
   level
0     80
1     70
2     50
3     50
4     50

In [117]:
# разделение на тренировочные и проверочные данные функцией train_test_split из model_selection
from sklearn.model_selection import train_test_split
main_train, main_test, other_train, other_test = train_test_split(other, main, test_size=0.3,
random_state=42)
print(main_train.shape)
print(main_test.shape)
print(other_train.shape)
print(other_test.shape)

(22, 2)
(10, 2)
(22, 1)
(10, 1)

In [158]:
# использую метод машинного обучения - Логистическая регрессия
# потому что простой
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(main_train, other_train)
z = []
for i in range(32):
    z.append(model.predict(other.iloc[[i]]).item())

pd.DataFrame([main['level'],pd.Series(z).T],index=['original','predicted']).T

c:\Python\3.11.6\Lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

    original  predicted
0         80         20
1         70         50
2         50         50
3         50         50
4         50         50
5         50         50
6         50         40
7         50         40
8         50         40
9         50         40
10        41         40
11        40         40
12        40         40
13        40         40
14        40         40
15        40         40
16        40         40
17        40         40
18        40         40
19        40         40
20        40         40
21        40         40
22        40         40
23        20         40
24        20         40
25        20         40
26        20         40
27        20         40
28        20         40
29        20         40
30         1         40
31         1         40

In [ ]:
'''
я могу сказать, что у меня данные не совсем подходящие под предсказывание, 
так как они не зависят от количества убийств, смертей и т.п., 
а только от моего решения, прокачивать персонажа или нет...
'''